#form-progress-container {
  width: 350px;
  background-color: #e0e0e0;
  padding-left: 40px;
  padding-right: 40px;
}

#project-img {
  width: 85%;
  border-radius: 50%;
}

#project-header-card {
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#token-price-input {
  height: calc(3.5rem + 2px);
}

#project-desc-trunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  background: white;
}

.card-content {
  padding: 30px;
}

.container-divided {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-divider {
  border: 0.5px solid #e0e0e0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.content-margin {
  margin: 10px;
}

.dropdown-multiselect {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.margin-right-sm {
  margin-right: 6px;
}

.margin-btm-sm {
  margin-bottom: 15px;
}

.field-label {
  font-weight: 500;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.form-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.full-length {
  height: 100%;
}

.full-vh {
  height: 100vh;
}

.label-link {
  cursor: pointer;
  transition: 0.4s;
}

.label-link:hover {
  color: #2a66ff;
  transition: 0.4s;
}

.logo {
  max-width: 180px;
}

.logo-footer {
  max-width: 35px;
  margin-right: 10px;
}

.logo-sm {
  margin-top: 0.8125rem;
  max-width: 140px;
  position: absolute;
  top: 0;
}

.margin-btm-md {
  margin-bottom: 30px;
}

.nav-element-margin {
  margin: 5px;
}

.secondary-background {
  background-color: #efefef;
}

.secondary-text {
  color: #6c757d;
}

.tab-margin-top {
  margin-top: 50px;
}

.tabs {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #e0e0e0;
}

.text-align-center {
  text-align: center;
}
